<nav>
	<!-- <a href="${pageContext.request.contextPath}/showLogin">Login Page</a> -->
	<!-- <a href="${pageContext.request.contextPath}/showRegistration">Registration Page</a> -->
	<!-- <a href="${pageContext.request.contextPath}/registerMember">Register Member</a> -->
	<a href="${pageContext.request.contextPath}/showWelcome">Welcome Page</a>
	<a href="${pageContext.request.contextPath}/showVolunteerProfile">Volunteer Profile Page</a>
	<a href="${pageContext.request.contextPath}/showOrgUserProfile">Org User Profile Page</a>
	<a href="${pageContext.request.contextPath}/showProjects">Projects Page</a>
	<a href="${pageContext.request.contextPath}/logout">Logout Page</a>
</nav>